name: Test Automation Pipeline

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:
    inputs:
      marker:
        description: "Uruchamia tylko testy oznaczone markerami, czyli bez pozostałych testów w folderze ui"
        required: false
        default: ""

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: latest

      - name: Run tests
        run: |
          if [ -z "${{ github.event.inputs.marker }}" ]; then
            pytest --maxfail=1 --disable-warnings --html=report.html
          else
            pytest -m "${{ github.event.inputs.marker }}" --maxfail=1 --disable-warnings --html=report.html
          fi

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.html